.codecopyable {
    width: 100%;
    cursor: pointer;
    /* padding-bottom: 10px; */
    margin-top: 30px;
    border: 2px solid red;
    border-radius: 6px;
    /* display:block; */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    color: #222;
    background-color: #fff;
    /* margin: 0 auto; */
    /* overflow-x: auto;
  display: -webkit-box;
  -webkit-overflow-scrolling: touch;
  margin: 0.5rem 0.5rem */
    overflow: hidden;
    overflow-x: auto;
    
}

/* .codecopyable:active{
    background-color: black;
    animation: ani-bian 0.5s;
} */

@keyframes ani-bian{
    form{border:2px solid transparent;}
    to{border: 2px solid green;}
}
.hh{
    height: 0;
}

.nav{
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
.navderight{
    margin-left: 120px;
}

.nav{
    padding-top: 100px;
}
.nav a{
    font-size: 0.6em;
}
.left{
    padding-left: 20px;
}
.works a{
    /* padding-top: 40px; */
    margin-top: 40px;
    padding-bottom: none;
}