.round{
  border-radius: 50%;
}
.headerdiv img{
  width: 64px;
  vertical-align: middle;
  border: 2px,solid,purple;
}
.headerdiv div{
  vertical-align: middle;
  display: inline;
  font-size: 2em;
  text-transform: uppercase;
}

.overplay{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: hidden;
  transition: 0.3s;
}


.btn {
  display: inline-block;
  background: #000000;
  border-radius: 5px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.inline {
  display: inline;
}
.shadow {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  color: #fff;
}

body {
  font-size: 15pt;
  margin: 0px;

}

body {

  box-sizing: border-box;
  color: #373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

header {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
  color: #f8f8f8;
}

footer {
  height: 300px;
  margin: 30px;
  color: #fcfcfc;
  font-size: 16px;
}

footer div {
  margin-bottom: 5px;
}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

main {
  padding: 30px;
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;

}

.bug {
  width: 920px;
}

.code{
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 6px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  color: #222;
  background-color: #fff;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.875em;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
}

code {
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  color: #222;
  background-color: #fff;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.875em;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
}



a {
  text-decoration: none;
  color: #0F79D0;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease
}

a:hover,
a:focus {
  text-decoration: underline
}


pre {
  color: #222;
  background-color: #fff;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.875em;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px
}

pre {
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
  overflow: auto
}

pre code {
  display: block;
  box-shadow: none
}

@media screen and (max-width: 520px) {
  header {
    margin-left: 10px;
  }

  main {
    padding: 10px;
  }

  footer {
    margin: 15px
  }

  .bug {
    width: 300px;
  }
}

.textmix{
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 10px;
  width: 400px;
  background-image: url("/110237168.png");
  background-clip: text;
  color: transparent;
}

.floatleft{
  float: left;
}

.work{
  margin-top: 30px;
  border:2px solid red;
  border-radius: 6px;
  display:block;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.1);
  color: #222;
  background-color: #fff;
  margin: 0 auto;
}
.work a{
  text-align: center;
}

.spanimport {
  border: 4px solid black;
  background: yellow;
  border-radius: 10px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/***demos******************************************************/
.demos{
  border: 2px solid #333;
  border-radius: 5px;
}
.demos ul{
  list-style-type: none; /* 移除默认的列表样式 */
  margin: 0; /* 移除列表的边距 */
  padding: 0; /* 移除列表的填充 */
}
.demos ul ls{
  list-style-type: none; /* 移除默认的列表样式 */
}
.demos ul li a{
  color: black;
  text-decoration: none; /* 移除下划线 */
  padding: 5px 5%; /* 内边距 */
  display: block;
  transition: background-color 0.3s; /* 添加过渡效果 */
}
.demos ul li a:active{
  background-color: #575757; /* 鼠标悬停时的背景颜色 */
  border-radius: 10px; /* 圆角 */
}
.demos ul li a:hover{
  background-color: #57575733; /* 鼠标悬停时的背景颜色 */
  border-radius: 10px; /* 圆角 */
}
.demos ul li a:visited{
  color:purple;
}
.demos ul li a:link{
  border-radius: 10px;
}